{% extends 'base.html' %}



{% block content %}
<h1>My Cart<h1>
    <h5>Your meal is (almost) on it's way </h5>
    <button type="button" class="btn btn-secondary btn-lg" disabled>checkout</button>

    <div class="list-group">
      <ul>{% for cart in carts%}
        <li>
          <div class="delivery">
            <p><span>item name : </span> <span>{{cart.food.title}}</span></p>
            <div class="clearfix"></div>
            <p><span>Unit price : $</span> <span>{{cart.food.price}}</span></p>
            <div class="clearfix"></div>
            <p><span>Quantity : </span> <span>{{ cart.quantity }}</span></p>
            <div class="clearfix"></div>
            <p><span>Total price : </span> <span>{% widthratio cart.food.quantity 1 cart.food.price %} </span></p>
            <div class="clearfix"></div>
            <a href="{% url 'remove_from_cart' id=cart.id %}">remove item</a>
          <div class="clearfix"></div>
          <script>
            jQuery(document).ready(function(){
            	jQuery(".quantity_changer").change(function(){
            		var item_id = $(this).attr('id').replace("item_qnt_", "");
            		var item_quantity = $(this).val();
            		console.log("I am updating the server (quanity changed):"+item_id+" "+item_quantity);
            		$.getJSON("update/"+item_id+"?quantity="+item_quantity);
            	})
            })
          </script>
          <a href="javascript:a()" >update quantity:</a>
          <p><span><input type="number" class="quantity_changer" name="quantity" id="item_qnt_{{cart.id}}" min="1" max="{{cart.food.quantity}}"></span></p>


        </li>
      </ul>
      {% endfor %}
      {% endblock %}
