{% extends 'base.html' %}


{% block content %}
<h1>My Cart<h1>
    <h5>Your meal is (almost) on it's way </h5>
    <button type="button" class="btn btn-secondary btn-lg" disabled>checkout</button>

    <div class="list-group">
      <ul>{% for food in foods%}
        <li>
        <div class="delivery">
        <p><span>item name : </span> <span >{{food.title}}</span></p>
        <div class="clearfix"></div>
        <p><span>Unit price : $</span> <span >{{food.price}}</span></p>
        <div class="clearfix"></div>
        <p><span>Quantity : </span> <span >{{ food.quantity }}</span></p>
        <div class="clearfix"></div>
        <p><span>Total price : </span> <span >{% widthratio food.quantity 1 food.price %} </span></p>
        <div class="clearfix"></div>
        <a href="{% url 'remove_from_cart' id=food.id %}">remove_from_cart</a>
        <p><span>update quantity<input type="number" name="update quantity" min="1" max="{{food.quantity}}"></span></p>
    </div>

          </li>
      </ul>
      {% endfor %}
      {% endblock %}
