{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'cook/style.css' %}">
<div class="bg-img">

  <form action="{% url 'food_upload' %}" method="POST" enctype="multipart/form-data" class="container-form">
    <h5 class="cook_title"><strong>what's cooking good looking?</strong></h5>
    {% csrf_token %}
    {{form|crispy}}
    <div class="form-group col-lg-6 container center_div">
      <input type="submit" class="btn btn-success btn-md btn-block" value="add dish">
    </div>
  </form>
  </div>
  {% endblock %}
