{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'payment/style.css' %}">
<div class="bg-img">
<h1 class="payment_title">Checkout<h1>
    <h5 class="payment_title">{{count_items}} items</h5>
    <div class="list-group list-group-horizontal">
    {% for item in cart_items %}
    <div class="card mb-3 col-4 mx-auto">
      <div class="row md-8 pay_box">
        <div class="col-md-8">
          <div class="card-body">
        <p><span>item :</span> <span>{{item.food.title}}</span></p>

        <p><span>quantity :</span> <span>{{item.quantity}}</span></p>

        <p><span>price :</span><span>{% widthratio item.quantity 1 item.food.price %}$ </span></p>
      </div>
    </div>
  </div>
</div>
      {% endfor %}
      <div class="form-group col-lg-2 container center_div">
      <h5 class="payment_title">Total to pay: {{total_price}}$</h5>
      <form action="{% url 'make_payment' %}" method="post" class="payment_title">
      {% csrf_token %}
      {{form}}


      <input type="submit" class="form-control btn-success" value="make payment">
      </div>
    </form>
      {% endblock %}
